@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans/ptsans.woff2) format("woff2"),url(../fonts/ptsans/ptsans.woff) format("woff")
}

@font-face {
    font-family:"PT Sans";
    font-style:normal;
    font-weight:700;
    src:url(../fonts/ptsans/ptsansbold.woff2) format("woff2"),url(../fonts/ptsans/ptsansbold.woff) format("woff")
}

@font-face {
    font-family:"Cuprum";
    font-style:normal;
    font-weight:400;
    src:url(../fonts/cuprum/cuprum.woff2) format("woff2"),url(../fonts/cuprum/cuprum.woff) format("woff")
}

@font-face {
    font-family:"Cuprum";
    font-style:normal;
    font-weight:700;
    src:url(../fonts/cuprum/cuprumbold.woff2) format("woff2"),url(../fonts/cuprum/cuprumbold.woff) format("woff")
}

@font-face {
    font-family:"Cuprum";
    font-style:italic;
    font-weight:700;
    src:url(../fonts/cuprum/cuprumbolditalic.woff2) format("woff2"),url(../fonts/cuprum/cuprumbolditalic.woff) format("woff")
}

body,
html {
    height: 100%;
    background: #fff;
    color: #000
}

body {
    font-weight: 400;
    font-size: 16px;
    font-family: "Cuprum","Arial",sans-serif;
    line-height: 24px
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}

h2,
h3,
ul {
    margin: 0;
    padding: 0
}

h3 {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans","Arial",sans-serif
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.services__desc, 
.services__header, 
.about h2, 
.about p {
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.services__header, .about h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    font-family: "Cuprum","Arial",sans-serif
}

.services__desc, .about p {
    font-size: 13px;
    font-family: "PT Sans","Arial",sans-serif
}
.services__desc {
    margin-top: 27px;
    margin-bottom: 68px;
}
img {
    max-width: 100%;
    height: auto;
    border: 0
}

ul {
    list-style: none
}

.icon {
    display: inline-block;
    vertical-align: middle
}

.clearfix:after {
    content: '';
    clear: both;
    display: table
}

.container {
    width: 940px;
    margin: 0 auto
}

.modal {
    opacity: 0;
    position: fixed;
    width: 620px;
    padding-top: 30px;
    border-top: 7px solid #ee3643;
    background: #fff;
    top: 5%;
    left: 50%;
    z-index: 200;
    transform: translateX(-50%) translateY(-200%);
    transition: all .5s ease;
    box-shadow: 0 30px 50px rgba(0,0,0,.7)
}

.modal-unstyled {
    padding: 0;
    border: 0
}

.modal-large {
    width: 940px
}

.modal-visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0)
}

.modal__close {
    padding: 0;
    border: 0;
    position: absolute;
    top: 5px;
    right: -8px;
    outline: 0;
    z-index: 9;
}

.modal__close::after,.modal__close::before {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30px;
    height: 5px;
    background: #ee3643;
    border: 0;
    border-radius: 2px;
    cursor: pointer
}

.modal__close::after {
    transform: rotate(45deg)
}

.modal-container {
    width: 460px;
    margin: 0 auto
}

.modal-footer {
    padding: 37px 0;
    margin-top: 40px;
    background: #f1f1f1
}

.modal-footer__btn {
    padding: 13px 15px 12px;
    margin: 0 15px;
    min-width: 200px;
    box-sizing: border-box;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #ee3643;
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none
}

.modal-footer__btn:hover {
    background: #ca2c37;
    color: #fff
}

.modal-footer__btn_white {
    background: #fff;
    color: #000
}
.feedback-form__inner {
    display: flex;
    justify-content: space-between;
}
.feedback-form__label {
    color: #000
}

.feedback-form__title {
    display: block;
    width: 260px;
    margin: 0 0 9px
}

.feedback-form__label,.feedback-form__title {
    font-size: 18px;
    font-family: "Cuprum","Arial",sans-serif
}

.feedback-form__field {
    width: 200px;
    margin-bottom: 20px
}

.feedback-form__textarea {
    width: 100%
}

.feedback-form__field,.feedback-form__textarea {
    padding: 10px 14px;
    box-sizing: border-box;
    border: 3px solid #d7dcde;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
    font-size: 13px;
    text-align: left;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    outline: 0;
    border-radius: 5px
}

.feedback-form__field:focus,.feedback-form__textarea:focus {
    border-color: #fc5b65
}

.feedback-form__field::-webkit-input-placeholder {
    color: #a9a9a9
}

.feedback-form__field:-moz-placeholder,.feedback-form__field::-moz-placeholder {
    color: #a9a9a9
}

.feedback-form__field:-ms-input-placeholder {
    color: #a9a9a9
}

.feedback-form__textarea::-webkit-input-placeholder {
    color: #a9a9a9
}

.feedback-form__textarea:-moz-placeholder,.feedback-form__textarea::-moz-placeholder {
    color: #a9a9a9
}

.feedback-form__textarea:-ms-input-placeholder {
    color: #a9a9a9
}

.feedback-form__btn {
    width: 460px;
    margin: 0 auto
}
.modal-alert__container, 
.modal-alert__footer-container {
    display: flex;
    align-items: center;
}
.modal-alert__footer-container {
    justify-content: center;
}
.modal-alert__icon {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50px;
    margin-right: 30px;
    background: #63a63e url(../img/icons/form-1.svg) no-repeat center
}

.header,.modal-alert__text {
    font-size: 30px;
    font-family: "Cuprum","Arial",sans-serif
}

.header {
    min-height: 320px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal
}

.header__top {
    min-height: 42px;
    background: #293449;
    color: #fff
}
.header__container {
    display: flex;
    flex-wrap: wrap
}
.header__logo {
    display: block;
    padding: 11px 55px 7px;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933
}
.header__logo:hover {
    background-color: #ba2732;
}
.header-search {
    position: relative;
    flex-grow: 1
}

.header-search__field {
    width: 100%;
    padding: 11px 15px 12px 49px;
    background-color: #293449;
    border: 0;
    cursor: pointer;
    color: #fff
}

.header-search__field::-webkit-input-placeholder {
    color: #fff
}

.header-search__field:-moz-placeholder,.search__field::-moz-placeholder {
    color: #fff
}

.header-search__field:-ms-input-placeholder {
    color: #fff
}

.header-search__field.header-search__field:hover {
    background: #212a3a
}
.header-search__field:focus, .header-search__field:focus:hover {
    outline: 0;
    background: #FFF;
    color: #000
}

.header-search__field:focus+.header-search__label .header-search__icon {
    fill: #ee3643
}

.header-search__label {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 20;
    width: 17px;
    height: 17px;
    cursor: pointer
}
.header-search__icon {
    fill: #6a7180;
    transition: fill 0.3s ease
}
.header-menu {
    display: flex
}
.header-menu__link {
    display: block;
    position: relative;
    padding: 12px 26px 12px 50px;
    text-decoration: none;
    background-color: #293449;
    color: #fff;
    transition: all 0.3s ease
}
.header-menu__icon {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 16px;
    height: 16px;
    fill: #6a7180;
    transition: fill 0.3s ease
}

.header-menu__link:hover {
    background: #212a3a
}
.header-menu__link:hover .header-menu__icon {
    fill: #FFF;
}
.header-menu__link:active {
    background-color: #161d29;
    color: #8b8e94
}
.header-menu__link:active .header-menu__icon {
    fill: #8b8e94
}
.header-menu__link_active, .header-menu__link_active:hover, .header-menu__link_active:active {
    background-color: #ee3643;
    color: #FFF
}
.header-menu__link_active .header-menu__icon, .header-menu__link_active:hover .header-menu__icon {
    fill: #FFF;
}
.header-menu__link_order {
    padding: 12px 22px 12px 20px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background: #63a63e;
    color: #fff
}

.header-menu__link_order:hover {
    background: #5fbb2d
}

.header-menu__link_order:active {
    background-color: #518534;
    color: #aac39b
}

.header__down {
    min-height: 278px;
    color: #000;
    background-color: #f1f5f7
}

.header-title {
    width: 247px;
    margin: 49px 0 40px 52px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643
}

.contact-info {
    margin-left: 22px
}

.contact-info__phone {
    margin-top: 46px;
    padding: 0 10px;
    border: 3px solid #fff;
    width: 244px;
    font-size: 21px;
    line-height: 18px
}

.contact-info__link {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: #e9292a
}

.contact-info__link::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 40px;
    width: 20px;
    height: 20px;
    background: url(../img/icons/icon-phone.svg) no-repeat
}

.contact-info__address {
    max-width: 270px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    color: #32425c;
    text-align: center
}
.user-menu {
    display: flex;
    justify-content: flex-end;
}
.user-menu-wrapper {
    margin: 45px 0 0 45px;
    width: 300px;
    flex-grow: 1;
    max-width: 349px
}
.user-menu__item {
    display: flex;
    position: relative;
    background-color: #fff
}
.user-menu__item:nth-child(2) {
    margin-left: 14px
}

.user-menu__link {
    display: inline-block;
    position: relative;
    padding: 14px 21px;
    max-height: 17px;
    font-size: 21px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease
}

.user-menu__login-icon {
    margin-left: -10px;
    margin-right: 5px;
    vertical-align: top;
    fill: #edeff1;
    transition: fill 0.3s ease
}
.user-menu__link:hover {
    color: #ee3643
}
.user-menu__link:hover .user-menu__login-icon {
    fill: #32425c;
}
.user-menu__link:active {
    color: #c5c5c5
}
.user-menu__link:active .user-menu__login-icon {
    fill: #c5c5c5;
}

.user-menu__user {
    padding: 14px 13px 15px 49px;
    margin: 0
}

.user-menu__user-icon {
    position: absolute;
    left: 17px;
    top: 12px;
    width: 20px;
    height: 20px;
    transition: fill 0.3s ease
}

.user-menu__logout-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 46px
}

.user-menu__user-icon, .user-menu__logout-icon {
    fill: #c5c5c5
}
.user-menu__user:hover {
    color: #32425c
}
.user-menu__user:hover .user-menu__user-icon, 
.user-menu__logout-link:hover .user-menu__logout-icon {
    fill: #32425c;
}
.user-menu__user:active {
    color: #c5c5c5
}
.user-menu__user:active .user-menu__login-icon, 
.user-menu__logout-link:active .user-menu__logout-icon {
    fill: #c5c5c5;
}

.user-links {
    flex-grow: 1;
    margin-top: 8px;
    margin-left: 13px;
}
.user-links__item {
    display: inline-block;
}
.user-links__link {
    padding-left: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c
}

.user-links__link:hover {
    color: #ee3643
}

.user-links__link:active {
    color: #bec5ce
}

.user-links__item:nth-child(2)::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
    background: #32425c;
    border-radius: 50px
}

.main-menu {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    background-color: #32425c;
    border-bottom: 5px solid #293449
}
.main-menu__list {
    display: flex;
    justify-content: center;
}
.main-menu__link {
    display: inline-block;
    padding: 21px 31px 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff
}

.main-menu__link:hover {
    background: #293449
}
.main-menu__link:active {
    background-color: #1d2739;
    color: #8e939c
}

.breadcrumbs {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 21px
}

.breadcrumbs__link {
    position: relative;
    display: block;
    margin-right: 38px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #000
}

.breadcrumbs__link::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -28px;
    width: 16px;
    height: 20px;
    background: url(../img/icons/icon-right-small.svg) no-repeat center
}

.breadcrumbs_home {
    width: 16px;
    height: 18px;
    background: url(../img/icons/icon-home.svg) no-repeat center
}

.catalog-header {
    margin-bottom: 20px;
    padding: 30px 28px;
    background: #f2f6f8;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    color: #32425c
}

.main-content {
    display: flex
}

.filter {
    width: 220px;
    min-height: 1202px;
    margin-right: 20px
}

.filter__header {
    padding: 10px 0 10px 19px;
    margin-bottom: 15px; 
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background: #f7f3ec;
    border-radius: 3px;
    font-style: normal;
    text-transform: uppercase;
    font-family: "PT Sans","Arial",sans-serif
}
.filter-block {
    border: none;
    padding: 0;
}
.filter-block__title {
    margin-top: 11px;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 21px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase
}

.filter-range {
    position: relative;
    height: 80px;
    margin: 18px 0 10px;
    padding: 0 30px;
    overflow: hidden;
    background: #f7f3ec;
    border-radius: 3px
}

.filter-range__scale {
    position: relative;
    height: 2px;
    margin-top: 39px;
    background: #d7dcde
}

.filter-range__bar {
    width: 87%;
    height: 2px;
    background: #00ca74;
    display: block;
    position: relative
}

.filter-range__bar::after,.filter-range__bar::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -9px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    cursor: pointer
}

.filter-range__bar::after {
    left: auto;
    right: -9px
}
.filter-price {
    display: flex;
    align-items: center;
    margin-bottom: 26px
}
.filter-price__val {
    width: 85px;
    padding: 8px 2px 10px 8px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-align: center;
    background-color: #f7f3ec;
    border: 0;
    border-radius: 3px
}

.filter-price__divide {
    margin: 0 11px;
    font-size: 17px;
    line-height: 30px
}

.filter__hr {
    margin-top: 0;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-bottom-width: 0
}

.filter-list {
    margin-top: 13px;
}

.filter-list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase
}

.filter-list__checkbox,.filter-list__radio {
    width: 26px;
    height: 26px;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    margin-right: 8px;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer
}

.filter-list__checkbox {
    background-image: url(../img/icons/checkbox-off.svg)
}

.filter-list__checkbox:checked {
    background-image: url(../img/icons/checkbox-on.svg)
}

.filter-list__radio {
    background-image: url(../img/icons/radio-off.svg)
}

.filter-list__radio:checked {
    background-image: url(../img/icons/radio-on.svg)
}

.filter-list__label {
    cursor: pointer
}

.filter__btn {
    padding: 11px 38px 8px;
    margin-top: 60px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer
}

.content-right {
    flex-grow: 1
}

.sorting {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 7px 20px;
    background: #f7f3ec;
    border-radius: 3px
}

.sorting-list {
    display: flex;
    align-items: center;
    flex-grow: 1
}

.sorting-list__link,.sorting__header {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase
}

.sorting__header {
    margin-right: 139px
}

.sorting-list__item {
    min-width: 122px
}

.sorting-list__item:nth-last-child(1),.sorting-list__item:nth-last-child(2) {
    min-width: auto
}

.sorting-list__link {
    vertical-align: text-top;
    text-decoration: none;
    color: #acaaa5;
    border-bottom: 1px dotted #ee3643
}

.sorting-list__link:hover {
    color: #000
}

.sorting-list__link:active {
    border: none
}

.sorting-list__link_active {
    color: #ee3643;
    border-bottom: none
}

.sorting-list__link_asc, .sorting-list__link_desc {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0
}

.sorting-list__link_asc::before, .sorting-list__link_desc::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 11px 5px;
    border-color: transparent transparent #c5c5c5 transparent
}

.sorting-list__link_asc:hover::before, .sorting-list__link_desc:hover::before {
    border-color: transparent transparent #231f20 transparent
}

.sorting-list__link_desc {
    margin-left: 10px
}

.sorting-list__link_asc {
    margin-left: 30px
}

.sorting-list__link_desc::before {
    transform: rotate(180deg)
}

.sorting-list__link_asc.sorting-list__link_active::before, .sorting-list__link_desc.sorting-list__link_active::before {
    border-color: transparent transparent #ee3643 transparent
}

.offers {
    line-height: 0;
    font-size: 0;
    margin-top: 60px;
    margin-bottom: 30px
}

.offers-cat {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 21px 23px;
    width: 300px;
    margin: 0 0 20px 20px;
    overflow: hidden;
    vertical-align: middle;
    font-family: "Cuprum","Arial",sans-serif;
    background-color: #ffbf47;
    background-position: right 30px center;
    background-repeat: no-repeat
}

.offers-cat:first-child,.offers-cat:nth-child(6) {
    background-position: right 44px center
}

.offers-cat:nth-child(2) {
    margin-left: 0;
    background-image: url(../img/bg/materials-icon.png)
}

.offers-cat:nth-child(3) {
    background-color: #3bbce3;
    background-image: url(../img/bg/tool-icon.png)
}

.offers-cat:nth-child(4) {
    background-color: #dc91d8;
    background-image: url(../img/bg/technics-icon.png)
}

.offers-cat:nth-child(6) {
    background-color: #8ed78f;
    background-image: url(../img/bg/discounts-icon.png)
}

.offers-cat:nth-child(7) {
    background-image: url(../img/bg/delivery-icon.png)
}

.offers-cat_new, .product_new {
    overflow: hidden
}

.offers-cat_new::before,
.product_new::before {
    content: "new";
    display: block;
    position: absolute;
    top: 7px;
    right: -24px;
    color: #fff;
    text-align: center;
    background: #ee3643;
    width: 90px;
    z-index: 1;
    font-size: 15px;
    line-height: 16px;
    padding: 6px 0;
    transform: rotate(45deg)
}

.offers-cat__title {
    margin-right: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff
}

.offers-cat__btn {
    display: inline-block;
    width: 135px;
    padding: 10px 0;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: rgba(0,0,0,.1)
}

.offers-cat__btn:hover {
    background: rgba(0,0,0,.2)
}

.offers-cat__btn:active {
    background: rgba(0,0,0,.3)
}

.slider {
    position: relative;
    float: left;
    width: 620px;
    height: 266px;
    margin: 0 auto
}

.slider__list-item {
    position: absolute;
    padding: 26px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    color: #fff;
    display: none;
    box-sizing: border-box
}

.slider__item-link,
.slider__item-title {
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    color: #fff
}

.slider__item-title {
    margin-bottom: 4px;
    background: 0 0;
    font-size: 36px;
    line-height: 30px;
    font-weight: 700
}

.slider__item-desc {
    font-size: 18px;
    line-height: 22px;
    font-family: "Cuprum","Arial",sans-serif
}

.slider__item-link {
    display: block;
    width: 166px;
    padding: 10px 15px;
    margin-top: 122px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    background: #ee3643;
    border-radius: 3px
}

.popular-title__btn:hover,
.slider__item-link:hover {
    background: #ca2c37
}

.slider__item-link:active {
    background: #ba2732
}

.slider__controls {
    position: absolute;
    z-index: 60;
    bottom: 37px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: 10px;
    text-align: center
}

.slider__controls-item {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}
.slider__btn {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer
}

#slider-btn-1:checked~.slider__controls .slider__btn[for=slider-btn-1],
#slider-btn-2:checked~.slider__controls .slider__btn[for=slider-btn-2] {
    background: #ee3643
}

#slider-btn-1:checked~.slider__list .slider__list-item:nth-child(1),
#slider-btn-2:checked~.slider__list .slider__list-item:nth-child(2) {
    display: block
}

.slider__arrows {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 25px;
    right: 25px;
    top: 50%;
    margin-top: -20px;
    z-index: 3;
}
.slider__arrows__item {
    z-index: 2
}
.slider__arrow {
    display: block;
    width: 22px;
    height: 40px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat
}

.slider__arrow-left {
    background-image: url(../img/icons/icon-left.svg)
}

.slider__arrow-right {
    background-image: url(../img/icons/icon-right.svg)
}

.popular {
    margin-top: 17px
}

.popular__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f3ec;
    padding: 30px 27px;
    margin-bottom: 18px;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase
}
.popular__title {
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}
.popular__text {
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px
}

.popular__link {
    padding: 10px 53px 9px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #ee3643;
    color: #fff;
    border-radius: 4px;
    min-width: 145px
}

.product {
    width: 218px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    position: relative;
    display: block
}
.product-list {
    display: flex
}
.product-list__item {
    margin-left: 20px
}

.product-list__item:first-child {
    margin-left: 0
}

.product:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2)
}

.content {
    margin-bottom: 44px
}

.products {
    display: flex;
    flex-wrap: wrap
}

.products__item {
    margin-right: 20px;
    margin-bottom: 22px
}

.products__item:nth-child(3n) {
    margin-right: 0
}

.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 59px
}

.pagination__item {
    margin-right: 9px
}

.pagination__link {
    padding: 10px 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 3px
}

.pagination__link_btn {
    padding: 10px 31px
}

.pagination__link:hover:not(.pagination__active) {
    border: 1px solid #bdc6ca
}

.pagination__link:active:not(.pagination__active) {
    border: 1px solid #ee3643
}

.pagination__active {
    color: #fef5f6;
    background: #ee3643;
    border-color: #ee3643
}

.about-product {
    padding: 68px 0 55px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #000;
    background: #f2f6f8
}

.about-product__header {
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif
}

.about-product,
.product__buttons {
    font-size: 13px;
    font-family: "PT Sans","Arial",sans-serif
}

.product__btns {
    position: absolute;
    z-index: 150;
    top: 0;
    left: 0;
    display: none;
    width: 218px;
    padding: 44px 0;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
    background: #fff
}

.product:hover .product__btns {
    display: block
}

.product__btn {
    display: block;
    margin: 0 auto 7px;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    font-family: 'Cuprum','Arial',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px
}
.product__btn {
    width: 129px;
    padding: 7px 0;
    color: #32425c;
    background: #fff;
    border: 3px solid #63a63e
}

.product__btn:hover {
    color: #32425c;
    background: #fff;
    border-color: #32425c
}

.product__btn:active {
    color: #c1c6ce;
    background: transparent;
    border-color: #c1c6ce
}

.product__btn_buy {
    position: relative;
    box-shadow: inset 0 -3px 0 #367315;
    width: 135px;
    padding: 9px 0;
    background: #63a63e;
    border: none
}
.product__btn_buy,
.product__btn_buy:hover {
    color: #fff
}
.product__btn_buy::before {
    content: "";
    position: absolute;
    display: block;
    top: 8px;
    left: 12px;
    width: 20px;
    height: 20px;
    background: url(../img/icons/icon-cart.svg) no-repeat;
    opacity: .7
}

.product__btn_buy:hover {
    background: #5fbb2d;
}

.product__btn_buy:active {
    background: #518534;
}

.product__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 168px
}

.product__img {
    max-width: 100%;
    height: auto
}

.product__price,.product__oldprice {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase
}

.product__price,
.product__oldprice,
.product__title {
    font-weight: 700;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif
}

.product__title {
    padding: 0 24px 0 25px;
    margin: 9px 0;
    text-align: center;
    font-size: 18px;
    line-height: 20px
}
.product__link {
    color: #000;
    text-decoration: none;
}
.product__oldprice {
    display: block;
    margin-bottom: 12px;
    text-decoration: line-through;
    color: #999
}

.product__price {
    position: relative;
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    padding: 10px 14px 10px 29px;
    text-decoration: none;
    color: #fff;
    background: #ee3643;
    border-radius: 3px 0 0 3px
}

.product__price::after {
    content: '';
    position: absolute;
    top: 0;
    right: -36px;
    width: 0;
    height: 0;
    border: 19px solid #fff;
    border-left-color: #ee3643
}

.product__title+.product__price {
    margin-top: 28px
}
.company-list {
    display: flex;
    flex-wrap: wrap
}
.company-list__item {
    margin: 0 20px 20px 0
}

.company-list__item:hover {
    box-shadow: 0 10px 25px rgba(41,52,73,.5)
}

.company-list__item:active {
    opacity: .5;
    box-shadow: 0 5px 15px rgba(41,52,73,.3)
}

.company-list__item:nth-child(4n) {
    margin-right: 0
}

.company-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 143px;
    border: 1px solid #e5e5e5
}

.company-list__img {
    max-width: 100%;
    height: auto
}

.services {
    margin-top: 64px;
    margin-bottom: 62px;
    background-color: #f2f6f8;
    padding: 70px 0
}
.services-block {
    display: flex
}
.services .section-desc {
    margin: 30px 0 67px
}

.services-toggle {
    display: none
}

.services__tab {
    display: block;
    width: 218px;
    padding: 13px 0 16px 22px;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    line-height: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    text-align: left;
    color: #fff;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    outline: 0;
    cursor: pointer
}

.services__tab:hover {
    background-color: #293449
}

#services-btn-1:checked~.services__tab-list .services__tab[for=services-btn-1],
#services-btn-2:checked~.services__tab-list .services__tab[for=services-btn-2],
#services-btn-3:checked~.services__tab-list .services__tab[for=services-btn-3] {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: 0
}

.services__item {
    display: none;
    padding: 0 80px
}

#services-btn-1:checked~.services__list .services__item_delivery,
#services-btn-2:checked~.services__list .services__item_guarantee,
#services-btn-3:checked~.services__list .services__item_credit {
    display: block
}
.services__list {
    flex-grow: 1;
    position: relative;
    min-height: 235px
}
.services__item-title {
    margin-bottom: 31px;
    margin-top: 4px;
    display: block;
    text-transform: uppercase;
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif
}

.services__item-text {
    width: 380px;
    font-size: 13px;
    font-family: "PT Sans","Arial",sans-serif
}

.services__list::before {
    content: "";
    position: absolute;
    z-index: 70;
    top: -45px;
    left: -13px;
    width: 15px;
    height: 284px;
    background: url(../img/shadow.png) no-repeat top center
}

.services__item {
    min-height: 215px;
    background-repeat: no-repeat;
    background-position: right top 19px
}

.services__item_delivery {
    background-image: url(../img/bg/bg-delivery.png)
}

.services__item_guarantee {
    background-image: url(../img/bg/bg-guarantee.png)
}

.services__item_credit {
    background-image: url(../img/bg/bg-credit.png)
}

.services__item-link {
    width: 107px;
    display: block;
    margin-top: 27px;
    padding: 12px 44px 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #ee3642;
    border-radius: 5px;
    outline: 0
}

.about__btn:hover,
.services__item-link:hover {
    background: #ca2c37
}

.about {
    padding-bottom: 85px
}
.about__container {
    display: flex;
    justify-content: space-between;
}
.about p {
    margin-top: 27px
}

.about ul {
    margin: 11px 0 36px 36px;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 18px;
    line-height: 38px
}

.about li {
    position: relative
}

.about li::before {
    content: '';
    position: absolute;
    left: -36px;
    top: 19px;
    display: block;
    width: 25px;
    height: 2px;
    background: #fb565a
}

.about__btn {
    padding: 12px 40px 10px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum","Arial",sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #ee3643;
    border-radius: 4px
}

.about-contacts__btn {
    width: 100%;
    box-sizing: border-box;
    display: inline-block
}

.about-contacts__map {
    display: block;
    width: 300px;
    height: 158px;
    margin-top: 31px;
    margin-bottom: 41px;
    background: url(../img/bg/map.jpg) no-repeat center;
    cursor: pointer
}

.footer {
    color: #fff;
    background: #32425c
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__logo {
    display: inline-block;
    padding: 18px 41px 15px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    margin-bottom: 11px
}
.footer__address {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
}
.footer-menu {
    margin-top: 37px;
    display: flex;
    justify-content: flex-end;
}
.footer-menu__link {
    margin-left: 58px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    text-decoration: none
}

.footer-menu__link:hover {
    text-decoration: underline
}

.footer-menu__link:active {
    opacity: .5;
    text-decoration: none
}

.footer-menu__link_yellow {
    color: #ffda96
}

.footer-info {
    margin-top: 29px;
    background: #293449;
    padding: 22px 0
}
.footer-info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 44px
}

.footer-social__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background: #212a3a;
    border-radius: 50px;
    font-size: 0;
    line-height: 0
}

.footer-social__link:hover {
    background: #ee3643
}

.footer-social__link::before {
    content: "";
    width: 23px;
    height: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.footer-social__fb {
    margin: 0 2px
}

.footer-social__vk::before {
    background-image: url(../img/icons/icon-vk.svg)
}

.footer-social__fb::before {
    background-image: url(../img/icons/icon-fb.svg)
}

.footer-social__insta::before {
    background-image: url(../img/icons/icon-insta.svg)
}

.footer-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif
}
.footer-feed__inner {
    padding-right: 12px;
}
.footer-feed__title {
    margin: 0;
    font-size: 16px;
    color: #fff
}

.footer-feed__link {
    font-size: 16px;
    color: #ffd180;
    text-decoration: none
}

.footer-feed__link:hover {
    text-decoration: underline
}

.footer-feed__link:active {
    color: #ee3643;
    text-decoration: none
}

.ya-map {
    width: 100%;
    height: 450px
}