@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans.woff2") format("woff2"),
        url("fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsansbold.woff2") format("woff2"),
        url("fonts/ptsansbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/cuprum.woff2") format("woff2"),
        url("fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/cuprumbold.woff2") format("woff2"),
        url("fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/cuprumbolditalic.woff2") format("woff2"),
        url("fonts/cuprumbolditalic.woff") format("woff");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    font: normal 400 16px/24px "PT Sans","Arial",sans-serif;
    color: #000;
}
input,p,textarea{
    padding:0;
    margin:0;
}
h1,h2{
    font-family:"Cuprum","Arial",sans-serif;
}
h1,h2,h3{
    font-weight:700;
    font-style:normal;
}
h1{
    margin:0;
    padding:0;
    font-size:36px;
    line-height:30px;
    color:#fff;
}
h2,h3{
    color:#000;
}
h2{
    font-size:30px;
    line-height:24px;
}
h2,h3,ul{
    margin:0;
    padding:0;
}
h3{
    font-size:17px;
    line-height:30px;
    font-family:"PT Sans","Arial",sans-serif;
}
img{
    max-width:100%;
    height:auto;
    border:none;
}
ul{
    list-style:none;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.clearfix:after{
    content:'';
    clear:both;
    display:table;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-end-start {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.main-header {
    min-height: 320px;
    margin-bottom: 60px;
    font-style: italic;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
}
.main-header-top {
    min-height: 42px;
    background: #293449;
    color: #fff;
}
.main-header__logo {
    display: block;
    padding: 11px 55px 7px 55px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}
.search {
    position: relative;
    flex-grow: 1;
}
.search__label {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 20;
    width: 20px;
    height: 20px;
    background: url(../img/) no-repeat;
    background-position: -106px -1px;
    cursor: pointer;
}
.search__field {
    width: 100%;
    padding: 12px 0 12px 49px;
    background-color: #293449;
    border: none;
    cursor: pointer;
    color: #fff;
}
.search__field:hover {
    background: #212a3a;
}
.search__field:focus {
    color: #000;
    background: #fff;
    outline: none;
}
.main-header-menu__link {
    display: block;
    padding: 12px 25px 12px 50px;
    text-decoration: none;
    background-color: #293449;
    color: #fff;
}
.main-header-menu__link:hover {
    background: #212a3a;
}
.to_order {
    padding: 12px 22px 12px 20px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background: #63a63e;
    color: #fff;
}
.to_order:hover {
    background: #5fbb2d;
}

.main-header-down {
    min-height: 278px;
    color: #000;
    background-color: #f1f5f7;
}
.main-header-title {
    width: 247px;
    margin: 49px 0 40px 52px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ef5c67;
}
.contact-info-phone {
    margin: 46px 50px 4px 22px;
    padding: 0 10px;
    border: 3px solid #fff;
    width: 244px;
    font-size: 21px;
    line-height: 18px;
}
.contact-info-phone__link {
    display: inline-block;
    padding: 10px 10px 11px 40px;
    text-decoration: none;
    color: #e9292a;
}
.phone-icon {
    width: 20px;
    height: 20px;
    background: url(../img/icons/icon-phone.svg) no-repeat;
}
.contact-info__address {
    max-width: 270px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}
.user-nav {
    margin: 47px 0px 0 0px;
    flex-grow: 1;
}
.user-nav__item:first-child {
    margin-right: 10px;
}
.user-nav__link {
    display: inline-block;
    padding: 14px 26px;
    max-height: 16px;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}
.login-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url(../img/icons/icon-login.svg) no-repeat;
}
.user-nav__login-icon {
    margin-left: -10px;
}
.main-nav {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    background-color: #32425c;
    border-bottom: 3px solid #293449;
}
.main-nav__link {
    display: inline-block;
    padding: 20px 31px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}
.main-nav__link:hover {
    background: #293449;
}